body{
    margin: 0;
}
div{
    width: 250px;
    height: 250px;
    background-color: orange;
}
p{
    color:orange;
}
.caja{
    width: 150px; 
    height: 150px;
    background-color: rgb(10%, 100% , 50%);
}
.otra_caja{
    width: 150px;
    height: 150px;
    background-color: rgba(0%, 0%, 100%, 40%); /* 40% de opacidad  o 0.4 */
}
.una_caja_mas{
    width: 150px;
    height: 150px;
    background-color:#3E0472;
}
.capibara{
    width: 150px;
    height: 150px;
    background-color: hsl(300,  40%, 20%);
}
#soy_unico{
    width: 250px;
    height: 50px;
    background-color: aqua;
}
a[title]{
    color: gray;
}
button:hover{
    background-color: yellow;
    color: red;
}
input:disabled{
    background-color: black;
}
#diferente::first-line{
    color: green;
}
#diferente::first-letter{
    color: red;
    font-size: 45px;
}
.capibara1,.capibara2,.capibara3{
    width: 100px;
    height: 100px;
    background-color: violet;
}
.padre p{
    color: red;
}
p #unico.foo{
    color: blue;
}
p #unico.foo.bar{
    color: green;
}
.main {
    color:rebeccapurple;
    border: 2px solid #ccc;
    padding: 1em;
}
.special {
    color:red;
    font-weight:bold;
}   
.rectangulo{
    height: 250px;
    width: 250px;
    background-color: aqua;
}   
.otro_rectangulo{
    height: 250px;
    width: 50%;
    background-color: blue;
}
.caja-interior{
    height: 50%;
    width: 50%;
    background-color: red;
}
.caja-interior p{
    font-size: 4rem;
}
.nuevo-div{
    width: 100vw;
    height: 100vh;
    background-color: red;
}
.otro-div{
    width: 250px;
    height: 250px;
    background-color: cyan;
    /* padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px; */
    padding: 25px;
    /* border-left: 4px solid green;
    border-right: 4px solid green;
    border-top: 4px solid green;
    border-bottom: 4px dashed green; */
    border:12px solid yellow;
    margin: 25px;
}